<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>app\main.ts - darsy</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.9.1/build/cssgrids/cssgrids-min.css">
    <link rel="stylesheet" href="../assets/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="../assets/css/main.css" id="site_styles">
    <link rel="icon" href="../assets/favicon.ico">
    <script src="http://yui.yahooapis.com/combo?3.9.1/build/yui/yui-min.js"></script>
</head>
<body class="yui3-skin-sam">

<div id="doc">
    <div id="hd" class="yui3-g header">
        <div class="yui3-u-3-4">
                <h1><img src="../assets/css/logo.png" title="darsy" width="117" height="52"></h1>
        </div>
        <div class="yui3-u-1-4 version">
            <em>API Docs for: 0.0.1</em>
        </div>
    </div>
    <div id="bd" class="yui3-g">

        <div class="yui3-u-1-4">
            <div id="docs-sidebar" class="sidebar apidocs">
                <div id="api-list">
                    <h2 class="off-left">APIs</h2>
                    <div id="api-tabview" class="tabview">
                        <ul class="tabs">
                            <li><a href="#api-classes">Classes</a></li>
                            <li><a href="#api-modules">Modules</a></li>
                        </ul>
                
                        <div id="api-tabview-filter">
                            <input type="search" id="api-filter" placeholder="Type to filter APIs">
                        </div>
                
                        <div id="api-tabview-panel">
                            <ul id="api-classes" class="apis classes">
                                <li><a href="../classes/DisplayObject.html">DisplayObject</a></li>
                            </ul>
                
                
                            <ul id="api-modules" class="apis modules">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yui3-u-3-4">
                <div id="api-options">
                    Show:
                    <label for="api-show-inherited">
                        <input type="checkbox" id="api-show-inherited" checked>
                        Inherited
                    </label>
            
                    <label for="api-show-protected">
                        <input type="checkbox" id="api-show-protected">
                        Protected
                    </label>
            
                    <label for="api-show-private">
                        <input type="checkbox" id="api-show-private">
                        Private
                    </label>
                    <label for="api-show-deprecated">
                        <input type="checkbox" id="api-show-deprecated">
                        Deprecated
                    </label>
            
                </div>
            
            <div class="apidocs">
                <div id="docs-main">
                    <div class="content">
<h1 class="file-heading">File: app\main.ts</h1>

<div class="file">
    <pre class="code prettyprint linenums">
module Darsy {

  /**
 * The {{#crossLink &quot;DisplayObject&quot;}}{{/crossLink}} class is the base class for all objects that can be placed on the display list.
 *
 * @class DisplayObject
 * @extends EventDispatcher
 * @constructor
 **/
  export class Injector {
    private dependencies: Object;
    private app: ng.IModule;

    public inject = (appName: string, externalModules: string[], config) : void =&gt;  {
      this.app = angular.module(appName, externalModules);
      this.registerComponents();

      config(this.app);

      angular.element(document).ready(function() {
        angular.bootstrap(document, [appName]);
      });
    }

    /**
         * The isEnabled property is used to keep track of the enabled start of the DisplayObject.
         *
         * @property isEnabled
         * @type {boolean}
         * @default false
         * @protected
         */
    public initialize(dependencies : Object | string) {
      var that = this;

      var $q = Helpers.getQService();
      return $q(function(resolve, reject){
        if(typeof dependencies === &#x27;string&#x27;){
          if(Darsy.Helpers.isUrlValid(dependencies)) {
            Darsy.Helpers.getDependencies(dependencies)
            .then(function(response) {
              that.dependencies = response.data;
              resolve();
            }, function(response) {
              reject(&quot;Problem with request&quot;);
            });
          }
          else {
            reject(dependencies + &#x27;is invalid url address&#x27;);
          }
        }
        else {
          that.dependencies = dependencies;
          resolve();
        }
      });
    }

    private registerControllers = (dependencies: any) =&gt; {
      var controllers = Darsy[&quot;Controllers&quot;];
      if(Object.prototype.toString.call(controllers) === &#x27;[object Array]&#x27;)
      {
        for (let component of controllers) {
          if (typeof dependencies[component.name] === &quot;undefined&quot;) {
            throw new Error(&#x60;Controller ${component.name} doesn&#x27;t have dependencies defined&#x60;);
          }

          const fullControllerName = this.app.name + &quot;.&quot; + &quot;Controllers&quot; + &quot;.&quot; + component.name;

          component.target.$inject = dependencies[component.name];
          this.app.controller(fullControllerName, component.target);
        }
      }
    }

    private registerDirectives = (dependencies: any) =&gt; {
      var directives : Array&lt;Interfaces.IComponent&gt; = Darsy[&quot;Directives&quot;];
      if(Object.prototype.toString.call(directives) === &#x27;[object Array]&#x27;) {
        for (let component of directives) {
          if (typeof dependencies[component.name] === &quot;undefined&quot;) {
            throw new Error(&#x60;Directive ${component.name} doesn&#x27;t have dependencies defined&#x60;);
          }

          this.app.directive(component.name, this.directiveFactory(component.target, dependencies[component.name]));
        }
      }
    }

    private registerServices = (dependencies: any) =&gt; {
      var services : Array&lt;Interfaces.IComponent&gt; = Darsy[&quot;Services&quot;];
      for (let component of services) {
        if(Object.prototype.toString.call(services) === &#x27;[object Array]&#x27;) {
          if (typeof dependencies[component.name] === &quot;undefined&quot;) {
            throw new Error(&#x60;Service ${component.name} doesn&#x27;t have dependencies defined&#x60;);
          }

          const fullServiceName = this.app.name + &quot;.&quot; + &quot;Services&quot; + &quot;.&quot; + component.name;

          component.target.$inject = dependencies[component.name];
          this.app.service(fullServiceName, component.target);
        }
      }
    }

    private registerFilters = (dependencies: any) =&gt; {
      var filters : Array&lt;Interfaces.IComponent&gt; = Darsy[&quot;Filters&quot;];
      if(Object.prototype.toString.call(filters) === &#x27;[object Array]&#x27;) {
        for (let component of filters) {
          if (typeof dependencies[component.name] === &quot;undefined&quot;) {
            throw new Error(&#x60;Filter ${component.name} doesn&#x27;t have dependencies defined&#x60;);
          }

          this.app.filter(component.name, this.filterFactory(component.target, dependencies[component.name]));
        }
      }
    }

    private registerComponents = () =&gt; {
      var dependencies = this.dependencies;
      for (let componentName in dependencies) {
        if (dependencies.hasOwnProperty(componentName)) {
          switch (componentName) {
            case &quot;Controllers&quot;:
            this.registerControllers(dependencies[componentName]);
            break;
            case &quot;Directives&quot;:
            this.registerDirectives(dependencies[componentName]);
            break;
            case &quot;Services&quot;:
            this.registerServices(dependencies[componentName]);
            break;
            case &quot;Filters&quot;:
            this.registerFilters(dependencies[componentName]);
            break;
            default:
            throw new Error(componentName + &quot; are not implemented&quot;);
            break;
          }
        }
      }
    }

    private directiveFactory = (directive, dependencies): angular.IDirectiveFactory =&gt; {
      var that = this;
      var factory = function() {
        return that.construct(directive, arguments);
      }
      factory.$inject = dependencies;
      return factory;
    }

    private filterFactory = (filter, dependencies): angular.IDirectiveFactory =&gt; {
      var that = this;
      var factory = function() {
        return that.construct(filter, arguments).filter;
      }
      factory.$inject = dependencies;
      return factory;
    }

    private construct(constructor, args) {
      function F() : void {
        constructor.apply(this, args);
      }
      F.prototype = constructor.prototype;
      return new F();
    }
  }
}

    </pre>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="../assets/js/yui-prettify.js"></script>
<script src="../assets/../api.js"></script>
<script src="../assets/js/api-filter.js"></script>
<script src="../assets/js/api-list.js"></script>
<script src="../assets/js/api-search.js"></script>
<script src="../assets/js/apidocs.js"></script>
</body>
</html>
