<h1>Sample view</h1>
<h2>Sample custom controller using custom service</h2>
Model says: {{ message }}
<h2>Sample custom filter</h2>
<ul>
    <li ng-repeat="i in 5 | RangeTo: 10">{{ i }}</li>
</ul>
<h2>Sample custom directive</h2>
<my-directive></my-directive>
